.entourage-page1 {
  /* padding: 40px;
  font-family: 'Georgia', serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh; */
  max-width: 700px;
  max-height: 690px !important;
  height: 100%; 
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Georgia', serif;
  color: #000;
  text-align: center;
  background-image: url('/images/Entouragebackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.enTitle {
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Brush Script MT', cursive;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 2px;
    color: #333;
}

.subtitle-first-page {
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #b45f06;
}

.section {
  margin-bottom: 50px;
}

.sponsor-columns {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.sponsor-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sponsor-columns li {
  font-size: 13.5px;
  margin-bottom: 10px;
}

.single-name {
  text-align: center;
  font-size: 15px;
  margin-top: 10px;
}

.single-column {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.single-column li {
  font-size: 18px;
  margin-bottom: 8px;
}

@media (max-width: 431px){
  .enTitle{
    font-size: 69px;
  }

  .subtitle-first-page{
    font-size: 20px;
  }

  .sponsor-columns li{
    font-size: 12px;
    margin-bottom: 9px;
  }
  .single-name{
    margin-top: 5px;
  }

}

@media (max-width: 415px){
  .enTitle{
    font-size: 69px;
  }

  .subtitle-first-page{
    font-size: 20px;
  }

  .sponsor-columns li{
    font-size: 10px;
    margin-bottom: 9px;
  }
  .single-name{
    margin-top: 5px;
  }

}

@media (max-width: 376px){
  .enTitle{
    font-size: 69px;
  }

  .subtitle-first-page{
    font-size: 20px;
  }

  .sponsor-columns li{
    font-size: 10px;
    margin-bottom: 5px;
  }
  .single-name{
    margin-top: 5px;
  }

}