.entourage-page1 {
  /* padding: 40px;
  font-family: 'Georgia', serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh; */
  max-width: 700px;
  max-height: 910px !important;
  height: 100%; 
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Georgia', serif;
  color: #000;
  text-align: center;
  background-image: url('/images/Entouragebackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  text-align: center;
  font-size: 80px;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-family: 'Brush Script MT', cursive;
}

.subtitle-first-page {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #b45f06;
}

.section {
  margin-bottom: 50px;
}

.sponsor-columns {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.sponsor-columns ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sponsor-columns li {
  font-size: 18px;
  margin-bottom: 10px;
}

.single-name {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
}

.single-column {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

.single-column li {
  font-size: 18px;
  margin-bottom: 8px;
}
