.entourage-page {
  max-width: 700px;
  max-height: 910px !important;
  height: 100%; 
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Georgia', serif;
  color: #000;
  text-align: center;
  background-image: url('/images/Entouragebackground.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section {
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
}

.subtitle-fourth-page {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #b45f06;
}

.single-name {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.single-column {
  list-style-type: disc;
  padding-left: 2rem;
}

.single-column li {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}
